.geomagnetic-storms-container ,
.main-container {
  padding: 6rem 0.8rem 2rem 0.8rem;
  background: url('/images/GeomagneticStorm-bg.png');
}

.geomagnetic-storms {
  max-width: 90vw;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  color: #333;
  font-size: 2vw;
  font-family: "Public Sans", sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.description {
  font-size: 0.7em;
  color: #050505;
  line-height: 1.6;
  margin-bottom: 30px;
  text-align: justify;
}
.description-rest{
  font-size: 0.7em;
  color: #0b0b0b;
  line-height: 1.6;
  margin-bottom: 30px;
  border-left: 4px solid #ff9800;
  padding-left: 10px;
  text-align: justify;
}

.subtitle {
  font-size: 1em;
  font-weight: 600;
  color: #444;
  margin-bottom: 15px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 8px;
  font-family: "Inter", sans-serif;
}

.effects-list,
.storm-details {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  text-align: justify;
  line-height: 1.6;
}

.effects-list li,
.storm-details li {
  background-color: #fff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 4px solid #0073e6;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
  font-size: 0.7em;
}

.effects-list li:hover,
.storm-details li:hover {
  background-color: #f0f0f0;
}

.effects-list strong,
.storm-details strong {
  color: #0056b3;
}

.storm-summary {
  font-size: 0.7em;
  color: #666;
  line-height: 1.6;
  margin-bottom: 30px;
  border-left: 4px solid #ff9800;
  padding-left: 10px;
}

@media (width>1400px) {
  .geomagnetic-storms {
    font-size: 1.7vw;
  }
}

@media (width<600px) {
  .geomagnetic-storms {
    padding: 15px;
    font-size: 2vh;
    max-width: 98vw;
  }
}