.loading-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-geomagnetic{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    overflow: hidden;
}

.main-geomagnetic video{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

@media (width<460px) {
    .main-geomagnetic{
        font-size: 2vh;
    }
    .main-geomagnetic video{
        width: 100%;
        height: 56vh;
    }
}
