.geomagnetic-storms-container {
  padding: 5rem 0.8rem 2rem 0.8rem;
  background-color: #000;
}

.geomagnetic-storms {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #111;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  border-radius: 1rem;
  color: #fff;
  font-size: 2vw;
  font-family: "Public Sans", sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}

.description {
  font-size: 0.7em;
  color: #ccc;
  line-height: 1.6;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 1em;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 15px;
  border-bottom: 2px solid #333;
  padding-bottom: 8px;
  font-family: "Inter", sans-serif;
}

.effects-list,
.storm-details {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.effects-list li,
.storm-details li {
  background-color: #222;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-left: 4px solid #0073e6;
  box-shadow: 0 1px 4px rgba(255, 255, 255, 0.1);
  transition: all 0.2s;
  font-size: 0.7em;
}

.effects-list li:hover,
.storm-details li:hover {
  background-color: #333;
}

.effects-list strong,
.storm-details strong {
  color: #3a9fff;
}

.storm-summary {
  font-size: 0.7em;
  color: #bbb;
  line-height: 1.6;
  margin-bottom: 30px;
  border-left: 4px solid #ff9800;
  padding-left: 10px;
}

@media (width<600px) {
  .geomagnetic-storms {
    padding: 15px;
    font-size: 2vh;
  }
}