.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 3.5rem;
    position: fixed;
    background-color: transparent;
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    color: white;
    font-size: 2vw;
    z-index: 5;
}

.name {
    font-size: 1.4em;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    height: 6rem;
    object-fit: contain;
    transition: all 0.3s linear;
}

.pc-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.7rem;
    font-size: 0.8em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pc-menu li {
    position: relative;
    cursor: pointer;
}

.pc-menu li a {
    color: white;
    text-decoration: none;
    position: relative;
    display: block;
}

.pc-menu li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.2rem;
    border-radius: 0.8rem;
    transition: all 0.5s linear;
    background-color: aqua;
}

.pc-menu li a:hover::before,
.pc-menu li a.active::before {
    width: 100%;
}

.pc-menu li a.active {
    color: aqua;
}

/* Scrolling design & defa.pc-menut design */

.navbar.default,
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 1.5rem 3.5rem;
}
.navbar.default .logo img,
.navbar.scrolled .logo img {
    height: 4rem;
}

.navbar.default .name,
.navbar.scrolled .name {
    font-size: 1em;
}

.navbar.default .pc-menu li,
.navbar.scrolled .pc-menu li {
    font-size: 0.8em;
}

/* Dropdown design */
.navbar .pc-menu li.dropdown {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.4rem;
}

.navbar .pc-menu li .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.navbar .pc-menu li .dropdown-menu li {
    padding: 0.5rem;
}

.navbar .pc-menu li .dropdown-menu li{
    color: white;
    font-size: 1.2em;
    display: block;
}

/* Show the dropdown on hover */
.navbar .pc-menu li.dropdown:hover .dropdown-menu {
    display: flex;
}

/* hamburgerMenu.css */
.hamburger-container {
    display: none; /* Hide by defa.pc-menut for non-mobile */
}

.hamburger-icon {
    font-size: 2rem;
    cursor: pointer;
    color: #e9e6e6;
}

/* Style the mobile menu */
.hamburger-nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(65, 64, 64);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.hamburger-nav-links.open {
    height: max-content; /* Adjust based on the number of links */
}

.hamburger-nav-links li {
    list-style: none;
    padding: 0.6rem 1.2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
.hamburger-nav-links li:last-child {
    border-bottom: none;
    margin-bottom: 1.5rem;
}

.hamburger-nav-links li a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    width: 100%;
}
/* Events Dropdown */
.dropdown {
    cursor: pointer;
}

.dropdown-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.63rem 1.3rem;
}

.dropdown-menu {
    display: block;
    flex-direction: column;
}

.dropdown-menu li {
    padding: 0.8rem 1.1rem;
    text-align: left;
}
.dropdown-menu li:last-child {
    margin-bottom: 0.5rem;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hamburger-container {
        display: block;
    }

    .pc-menu {
        display: none; /* Hide reg.pc-menuar nav on mobile */
    }

    .logo img {
        width: 50px;
    }

    .name {
        font-size: 1.5rem;
    }
}

/* Responsive for smart phones below 440px  */
@media(width<440px){
    .navbar{
        font-size: 2.5vh;
        padding: 1.5rem 1rem;
    }
    .navbar.default,
    .navbar.scrolled{
        padding: 0.8rem 0.8rem;
    }
}