.card {
  max-width: 20rem;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 2vw;
}

.card-image {
  height: 19rem;
  width: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 1.2rem;
}

.card-role {
  color: #888;
  font-size: 0.5em;
  margin-top: 10px;
}

.card-name {
  color: #333;
  font-size: 0.8em;
  margin: 10px 0;
}

.card-description {
  color: #666;
  font-size: 0.55em;
  line-height: 1.6;
}

.skills {
  margin-top: 1.2rem;
}

h3 {
  font-size: 0.5em;
}

.skills ul {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 0.2rem 0.7rem;
  margin-top: 0.5rem;
}

.skills ul.wrapped {
  min-height: 4rem;
}

.skills ul li {
  padding: 0.3rem 0.8rem;
  background-color: rgba(69, 181, 92, 0.774);
  font-size: 0.44em;
  border-radius: 0.8rem;
  color: white;
  font-weight: 500;
  margin-bottom: 0;
  cursor: auto;
}

.follow {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-top: 0.8rem;
}

.links {
  display: flex;
  gap: 1.2rem;
}

.gmail,
.linkedin,
.github {
  border: 1px solid black;
  border-radius: 50%;
  color: black;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  z-index: 0;
}

.gmail::before,
.linkedin::before,
.github::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: width 0.5s ease;
}

.gmail::before {
  background-color: #ebeded;
}

.github::before {
  background-color: #000;
}

.gmail:hover::before {
  width: 100%;
}

.gmail:hover {
  color: rgb(215, 25, 25);
}

.linkedin::before {
  background-color: rgb(10, 102, 194);
}

.linkedin:hover::before {
  width: 100%;
}

.linkedin:hover {
  color: white;
}

.github:hover::before {
  width: 100%;
}

.github:hover {
  color: white;
}

/* Design for smart phones width below 640px */
@media(width< 640px) {

  .gmail::before,
  .linkedin::before,
  .github::before {
    width: 100%;
  }
  .gmail {
    color: rgb(215, 25, 25);
  }
  .linkedin {
    color: white;
  }
  .github {
    color: white;
  }

  @media(width<440px){
    .card{
      font-size: 2vh;
      width: 43vw;
      padding: 0.8rem 0.5rem;
    }
    .card-image{
      height: 10rem;
    }
    .skills{
      margin-top: 0.6rem;
    }
    .skills ul{
      gap: 0.3rem;
      li{
        padding: 0.2rem 0.5rem;
      }
    }
    .follow{
      gap: 0.6rem;
    }
    .links{
      gap: 1.2rem;
    }
    .gmail,
    .linkedin,
    .github {
      height: 2.5rem;
      width: 2.5rem;
      svg{
        height: 1.2rem;
      }
    }
  }
  
}