.main-planets {
    height: 100%;
    width: 100vw;
    min-height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    padding: 3.5rem 0;
    color: #fff;
}

.main-planets .header {
    font-size: 2em;
    width: 100%;
    padding: 1.3rem;
    font-family: 'Viga', sans-serif;
}

.model-3d {
    width: 100%;
    height: 100vh;
    position: relative;
}

.model-3d .title {
    font-size: 1.5em;
    color: transparent;
    position: absolute;
    top: 1rem;
    left: 1rem;
    -webkit-text-stroke: 0.01px #fff;
    font-family: 'Viga', sans-serif;
}

.arrow-icon{
    font-size: 2em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
}

.info-planets {
    display: flex;
    gap: 1.5rem;
    transition: transform 0.5s ease;
    width: max-content;  /* Allow container to grow as needed */
    transform: translateX(0.5%);
}

.info-item {
    width: 93vw;
    flex-shrink: 0;
}

.info-item h2 {
    font-size: 1.5em;
    color: transparent;
    -webkit-text-stroke: 0.01px #fff;
    margin-bottom: 0.8rem;
    font-family: 'Viga', sans-serif;
    position: relative;
}

.info-item p {
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
}


.arrow-icon {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 70%;
    transform: translateY(-50%);
}

.arrow-icon.left {
    left: 10px;
}

.arrow-icon.right {
    right: 10px;
}

@media (width< 450px) {
    .main-planets {
        font-size: 2.5vh;
    }

    .model-3d {
        width: 94vw;
        height: 55vh;
    }

    .info-item h2,
    .model-3d .title {
        -webkit-text-stroke: 0.5px #fff;
    }

    .arrow-icon.left {
        left: 0.1rem;
    }

    .arrow-icon.right {
        right: 0.1rem;
    }
}