.model-3d{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    overflow: hidden; /* Add this line */
    font-size: 2vw;
}
.model-3d .title{
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: transparent;
    -webkit-text-stroke: 0.2px white;
    font-weight: 700;
    font-size: 1.5em;
}
.model-3d .title.first{
    top: 5rem;
}
.model-3d .extra{
    padding: 2rem;
    background-color: #000;
    color: white;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        font-size: 1.3em;
    }
    p{
        font-size: 0.7em;
    }
}


@media (width< 450px) {
    .model-3d{
        height: 80vh;
        font-size: 2vh;
        .info{
            top: 4rem;
            left: 1.4rem;
            width: 90%;
        }
    }
}
