.full-container{
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('/images/GeomagneticStorm-bg.png');
}

.content-container {
    max-width: 89vw;
    padding: 20px;
    background-color: #f8f8f8e2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 2vw;
    font-family: "Public Sans", sans-serif;
}

.content-container h1 {
    font-size: 1.6em;
    color: #0066cc;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.content-container p {
    margin-bottom: 16px;
    font-size: 0.8em;
    line-height: 1.8;
    text-align: justify;
}

.content-container a {
    color: #0066cc;
    text-decoration: none;
}

.content-container a:hover {
    text-decoration: underline;
}
